<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card text-center">
                <div class="card-body"> 
                    
                    <div class="row card-title text-uppercase">
                        <div class="col-md-2 mx-auto text-center">
                            <h5><a href="/links/contratos/contratos" >Contratos</a></h5>
                        </div>

                        <div class="col-md-2 mx-auto">
                            <h5><a href="/links/contratistas/contratistas" >Contratistas</a></h5>
                        </div>

                        <div class="col-md-2 mx-auto text-center">
                            <h5><a href="/links/entidades/entidades" >Entidades Solicitantes</a></h5>
                        </div>

                        <div class="col-md-2 mx-auto">
                            <h5><a href="/links/subcuentas/subcuentas" >Subcuentas</a></h5>
                        </div>

                        <div class="col-md-2 mx-auto">
                            <h5><a href="/links/estados/estados" >Estados de contrato</a></h5>
                        </div>

                        <div class="col-md-2 mx-auto">
                            <h5><a href="/links/usuarios/usuarios" >Usuarios</a></h5>
                        </div>                        

                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>