<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card text-center">
                <div class="card-body"> 
                    
                    <div class="row card-title text-uppercase">
                        <div class="col-md-2 mx-auto text-center">
                            <h5><a href="/links/contratos" class="m-4">Contratos</a></h5>
                        </div>

                        <div class="col-md-2 mx-auto">
                            <h5><a href="/links/contratistas" class="m-4">Contratistas</a></h5>
                        </div>

                        <div class="col-md-2 mx-auto text-center">
                            <h5><a href="/links/entidades" class="m-4">Entidades Solicitantes</a></h5>
                        </div>

                        <div class="col-md-2 mx-auto">
                            <h5><a href="/links/subcuentas" class="m-4">Subcuentas</a></h5>
                        </div>

                        <div class="col-md-2 mx-auto">
                            <h5><a href="/links/estados" class="m-4">Estados de contrato</a></h5>
                        </div>

                        <div class="col-md-2 mx-auto">
                            <h5><a href="/links/usuarios" class="m-4">Usuarios</a></h5>
                        </div>                        

                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>